<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<div id="app">
    千米：<input type="text" v-model="kilometer">
    米：<input type="text" v-model="meter">
</div>
<p id="info"></p>
<script>
var vm=new Vue({
    el:"#app",
    data:{
        kilometer:0,
        meter:0
    },
    computed:{

    },
    methods:{

    },
    watch:{
        kilometer:function(val){
           this.kilometer=val,
               this.meter=val*1000
        },
       meter:function(val){
            this.kilometer=val/1000,
                this.meter=val
        },
    }
})
vm.$watch('kilometer', function (newValue, oldValue) {
    // 这个回调将在 vm.kilometers 改变后调用
    document.getElementById ("info").innerHTML = "修改前值为: " + oldValue + "，修改后值为: " + newValue;
})
</script>
</body>
</html>